.title_resultado{
	font-size: 25px;
	margin-top:60px;
	font-family:"Daxline W05 Black"!important;
    padding: 40px;
}
.descricao{
	text-align: justify;
	padding: 40px;
}

.nome_produto{
	font-family:"Daxline W05 Black"!important;
	font-size: 20px;
}

.button_detalhes{
    padding-left: 50px;
	padding-right: 50px;
	margin-top: 20px;

	background: #107F92!important;
	color: white
}
.nota{
	margin-top: 10px;
	margin-left: -6px;
	width: 120px;
}
#container{
	width: 50%!important
}
.row{
	margin-top: 40px;
}
.box_pay{
	border: solid 1px grey;
	width: 97%;
    margin-left: 7px;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 2px teal;
}